<h1
	style='color: rgb(10, 10, 51); padding: 30px; border: 2px solid rgb(10, 10, 51); border-radius: 15px'
>Bienvenid@ a la página para administrar los precios de Patavans</h1>
<h3 style='font-style: italic; text-align:right'>* desde aquí podrá modificar los valores que
	aparecen en la web</h3>
{{#if logueado}}
	<h3 style='font-style: italic; margin: 50px 0'>Hola {{nombre}}, estás loguead@.</h3>
	<a
		style='color: rgb(10, 10, 51); text-decoration: none; padding: 15px; border: 2px solid rgb(10, 10, 51); border-radius: 15px; background-color:rgba(10, 10, 51, 0)'
		href='/destruir'
	>salir</a>

	<div style='margin-top: 60px;'>
		<a
			href='/precios/crearItem'
			style='color: rgb(10, 10, 51); text-decoration: none; padding: 15px; border: 2px solid rgb(10, 10, 51); border-radius: 15px; background-color:rgba(10, 10, 51, 0)'
		>crear un nuevo item</a>
	</div>
	<div
		style='margin-top: 80px; color: rgb(10, 10, 51); text-decoration: none; padding: 15px; border: 2px solid rgb(10, 10, 51); border-radius: 15px; background-color:rgba(10, 10, 51, 0)'
	>
		<table class='table'>
			<thead>
				<tr class='table-dark'>
					<th
						style='color: white; text-decoration: none; padding: 15px; border: 2px solid rgb(10, 10, 51); border-radius: 15px; background-color:rgba(10, 10, 51); margin:10px'
						scope='col'
					>#
					</th>
					<th
						style='color: white; text-decoration: none; padding: 15px; border: 2px solid rgb(10, 10, 51); border-radius: 15px; background-color:rgba(10, 10, 51); margin:10px'
						scope='col'
					>Item
					</th>
					<th
						style='color: white; text-decoration: none; padding: 15px; border: 2px solid rgb(10, 10, 51); border-radius: 15px; background-color:rgba(10, 10, 51); margin:10px'
						scope='col'
					>Price
					</th>
					<th
						style='color: white; text-decoration: none; padding: 15px; border: 2px solid rgb(10, 10, 51); border-radius: 15px; background-color:rgba(10, 10, 51); margin:10px'
						scope='col'
					>isElectric
					</th>
				</tr>
				</div>
			</thead>
			<tbody>

				{{#each precios}}
					<tr style='font-size: 20px; line-height: 80px'>
						<th scope='row'>{{id}}&nbsp &nbsp</th>
						<td>{{item}} &nbsp &nbsp</td>
						<td>{{price}} &nbsp &nbsp</td>
						<td>{{electric}} &nbsp &nbsp</td>
						<td> <a style='margin-top: 80px; color: rgb(10, 10, 51); text-decoration: none; padding: 15px; border: 2px solid rgb(10, 10, 51); border-radius: 15px; background-color:rgba(10, 10, 51, 0)'
	
						href='/precios/modificarItem/{{id}}'>modificar</a></td>
						<td> <a 
						style='margin-top: 80px; color: rgb(10, 10, 51); text-decoration: none; padding: 15px; border: 2px solid rgb(10, 10, 51); border-radius: 15px; background-color:rgba(10, 10, 51, 0)'
	
						href='/precios/eliminarItem/{{id}}'>eliminar</a></td>
					</tr>

				{{/each}}
			</tbody>
		</table>
	</div>
{{/if}}